$bgColor: #5a0548;
$inputColor: rgba(243, 236, 236, 0.3);
$borderInputColor: rgb(121, 10, 106);
$shadowInputSize: 30px;
$shadowInputColor: #08927D;
$shadowInputColorFocus: rgb(37, 5, 180);
$textInputColor: rgb(5, 5, 5);
$placerHolderColor: #444444;
$taskBackgroundColor: #eee;
$borderTaskColor: #ccc;
