@import 'src/styles/vars';

.menu  {

  &-item {
    overflow: hidden;
    text-align: left;

    &-link {
      display:block;
      padding:1em 2em;
      color:$link-color;
      margin: 0.2em;

      &:hover {
        background-color:darken($main-color, 5%);
      }

      &--active {
        background:$main-color;
      }
    }
  }
}
